{{ define "day-detail-dialog" }}
  <dialog id="day-detail">
    <div class="flex-v gap-1">
      <div class="flex-v">
        <button type="button" class="top-right" hx-on:click="dayDetail.close()">
          {{ template "icon-x-mark" dict "class" "button-icon" }}
        </button>
        <h1 id="day-detail-title"></h1>
        <time id="day-detail-date" class="text-secondary"></time>
      </div>
      <form
        id="day-detail-form"
        hx-put="/day-detail/"
        hx-swap="none"
        hx-on::after-request="dayDetail.close()"
        class="flex-v gap-1"
      >
        <input
          id="day-detail-tracker-id"
          type="text"
          style="display:none"
          name="tracker_id"
        />
        <input
          id="day-detail-input-date"
          type="text"
          style="display:none"
          name="date"
        />
        <div class="input-group">
          <label for="day-detail-emoji">Emoji</label>
          <input
            id="day-detail-emoji"
            pattern="[\p{Emoji_Presentation}]"
            placeholder="Paste an emoji to represent this day."
            name="emoji"
            type="text"
          />
        </div>
        <div class="input-group">
          <label for="day-detail-content">Note</label>
          <input
            placeholder="Take a note for this day."
            autofocus
            id="day-detail-content"
            type="text"
            name="content"
          />
        </div>
        <button class="button button-primary">Submit</button>
      </form>
    </div>
  </dialog>
  <script>
    const dayDetail = document.getElementById("day-detail");
    const dayDetailTitle = document.getElementById("day-detail-title");
    const dayDetailDate = document.getElementById("day-detail-date");
    const dayDetailInputDate = document.getElementById("day-detail-input-date");
    const dayDetailEmoji = document.getElementById("day-detail-emoji");
    const dayDetailContent = document.getElementById("day-detail-content");
    const dayDetailTrackerId = document.getElementById("day-detail-tracker-id");

    async function getDayDetail(displayName, trackerId, date) {
      try {
        const res = await fetch(
          "/day-detail/?" +
            new URLSearchParams({ tracker_id: trackerId, date: date }),
        );
        const { emoji, content } = await res.json();
        dayDetailTitle.textContent = displayName;
        dayDetailDate.textContent = date;
        dayDetailInputDate.value = date;
        dayDetailEmoji.value = emoji;
        dayDetailContent.value = content;
        dayDetailTrackerId.value = trackerId;

        dayDetail.showModal();
      } catch (err) {
        alert("Something went wrong.");
        console.error(err);
      }
    }
  </script>
{{ end }}
