{{ define "day-detail-dialog" }}
  <dialog
    x-data
    id="day-detail"
    class="text-eigengrau-900 w-full max-w-md rounded-xl p-4"
  >
    <button
      type="button"
      class="absolute top-4 right-4"
      @click="dayDetail.close();$store.dayDetail.emojiPickerOpen = false"
    >
      {{ template "icon-x-mark" dict "class" "size-5" }}
    </button>
    <h1 id="day-detail-title" class="font-semibold"></h1>
    <time id="day-detail-date" class="text-eigengrau-700 text-sm"></time>
    <form class="mt-4 flex flex-col gap-4">
      <input
        id="day-detail-tracker-id"
        type="text"
        class="hidden"
        name="tracker_id"
      />
      <input
        id="day-detail-input-date"
        type="text"
        class="hidden"
        name="date"
      />
      <div class="flex gap-2">
        <div class="relative">
          <input
            class="border-eigengrau-300 size-10 cursor-pointer rounded-xl p-0 text-center"
            readonly
            id="day-detail-emoji"
            name="emoji"
            type="text"
            @click="$store.dayDetail.emojiPickerOpen = true"
          />
          <div
            class="pointer-events-none absolute top-0 left-0 flex size-full items-center justify-center"
            x-show="!$store.dayDetail.emojiSelected"
          >
            {{ template "icon-face-smile" dict "class" "size-5 text-eigengrau-300" }}
          </div>
        </div>
        <input
          placeholder="Update notes for this day."
          autofocus
          class="border-eigengrau-300 placeholder:text-eigengrau-300 h-10 flex-1 rounded-xl"
          id="day-detail-content"
          type="text"
          name="content"
        />
        <button
          type="button"
          @click="$store.dayDetail.emojiSelected = false;dayDetailEmoji.value='';dayDetailContent.value = ''"
        >
          {{ template "icon-trash" dict "class" "size-5" }}
        </button>
      </div>
      <emoji-picker
        class="w-full"
        x-show="$store.dayDetail.emojiPickerOpen"
        @emoji-click="$store.dayDetail.emojiSelected = true;dayDetailEmoji.value = $event.detail.unicode"
      >
      </emoji-picker>
      <button
        hx-put="/day-detail/"
        hx-swap="none"
        hx-on::after-request="dayDetail.close()"
        class="bg-eigengrau-700 w-full rounded-xl px-6 py-2 text-white"
      >
        Submit
      </button>
    </form>
  </dialog>
  <script>
    document.addEventListener("alpine:init", () => {
      Alpine.store("dayDetail", {
        emojiPickerOpen: false,
        emojiSelected: false,
      });
    });

    const dayDetail = document.getElementById("day-detail");
    const dayDetailTitle = document.getElementById("day-detail-title");
    const dayDetailDate = document.getElementById("day-detail-date");
    const dayDetailInputDate = document.getElementById("day-detail-input-date");
    const dayDetailEmoji = document.getElementById("day-detail-emoji");
    const dayDetailContent = document.getElementById("day-detail-content");
    const dayDetailTrackerId = document.getElementById("day-detail-tracker-id");

    async function getDayDetail(displayName, trackerId, date) {
      try {
        const res = await fetch(
          "/day-detail/?" +
            new URLSearchParams({ tracker_id: trackerId, date: date }),
        );
        const { emoji, content } = await res.json();
        dayDetailTitle.textContent = displayName;
        dayDetailDate.textContent = date;
        dayDetailInputDate.value = date;
        dayDetailEmoji.value = emoji;
        dayDetailContent.value = content;
        dayDetailTrackerId.value = trackerId;

        if (emoji !== "") {
          Alpine.store("dayDetail").emojiSelected = true;
        } else {
          Alpine.store("dayDetail").emojiSelected = false;
        }

        dayDetail.showModal();
      } catch (err) {
        alert("Something went wrong.");
        console.error(err);
      }
    }
  </script>
{{ end }}
