{{ define "day" }}
  {{ $oob := get . "oob" }}
  {{ $tracker := get . "tracker" }}
  {{ $day := get . "day" }}
  <div
    id="day-{{ $tracker.TrackerId }}-{{ $day }}"
    {{ if $oob }}hx-swap-oob="true"{{ end }}
    class="has-tooltip relative"
  >
    <button
      id="day-button-{{ $tracker.TrackerId }}-{{ $day }}"
      {{ if or $day.TimeRelation.IsToday $day.TimeRelation.IsPast }}
        hx-on:click="getDayDetail('{{ $tracker.DisplayName }}',
        '{{ $tracker.TrackerId }}', '{{ $day.String }}')"
      {{ end }}

      class="{{- if $day.Emoji -}}
        shadow-inner bg-slate-300
      {{- else if $day.Content -}}
        shadow-inner bg-slate-300
      {{- else if $day.TimeRelation.IsPast -}}
        {{ if or (eq $day.Weekday 1) (eq $day.Weekday 7) }}
          text-indigo-600 hover:bg-indigo-100
        {{ else }}
          hover:bg-slate-300
        {{ end }}
      {{- else if $day.TimeRelation.IsFuture -}}
        cursor-default
        {{ if or (eq $day.Weekday 1) (eq $day.Weekday 7) }}
          text-indigo-300
        {{ end }}
      {{- else if $day.TimeRelation.IsToday -}}
        bg-amber-300 text-amber-500 hover:bg-amber-400
      {{- end }} place-center grid size-6 rounded"
    >
      {{ if $day.Emoji }}
        {{ $day.Emoji }}
      {{ else }}
        {{ $day.Date.Day }}
      {{ end }}
    </button>
    <div
      id="day-tooltip-{{ $tracker.TrackerId }}-{{ $day }}"
      class="tooltip flex max-w-xs flex-col gap-1 rounded-sm border border-indigo-600 bg-slate-50 p-2 text-sm shadow-md"
    >
      <time
        datetime="{{ $day.String }}"
        class="min-w-max font-semibold text-slate-400"
        >{{ $day.String }}
        <span class="text-indigo-400">
          {{ $day.WeekdayString }}
        </span>
      </time>
      {{ if ne $day.Content "" }}
        <div>
          {{ $day.Content }}
        </div>
      {{ end }}
    </div>
  <script type="module">
    import {
      computePosition,
      flip,
      shift,
      offset,
    } from 'https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.12/+esm';
    const button = document.getElementById('day-button-{{ $tracker.TrackerId }}-{{ $day }}')
    const tooltip = document.getElementById('day-tooltip-{{ $tracker.TrackerId }}-{{ $day }}');
    computePosition(button, tooltip, {
      placement: 'bottom',
      middleware: [offset(8), flip(), shift({padding: 5})],
    }).then(({x, y}) => {
      Object.assign(tooltip.style, {
        left: `${x}px`,
        top: `${y}px`,
      });
    });
  </script>
  </div>
{{ end }}
