{{ define "day" }}
  {{ $oob := get . "oob" }}
  {{ $tracker := get . "tracker" }}
  {{ $day := get . "day" }}
  <div
    id="day-{{ $tracker.TrackerId }}-{{ $day }}"
    {{ if $oob }}hx-swap-oob="true"{{ end }}
    class="has-tooltip relative"
  >
    <button
      id="day-button-{{ $tracker.TrackerId }}-{{ $day }}"
      {{ if or $day.TimeRelation.IsToday $day.TimeRelation.IsPast }}
        hx-on:click="getDayDetail('{{ $tracker.DisplayName }}',
        '{{ $tracker.TrackerId }}', '{{ $day.String }}')"
      {{ end }}

      class="{{- if or $day.Emoji $day.Content -}}
        text-white inset-shadow bg-gray-950 hover:bg-gray-800 active:bg-gray-700
        cursor-pointer active:text-white
      {{- else if or $day.TimeRelation.IsPast $day.TimeRelation.IsToday -}}
        active:bg-gray-700 text-gray-500 hover:bg-gray-800 hover:text-white
        cursor-pointer active:text-white
      {{- else if $day.TimeRelation.IsFuture -}}
        cursor-default text-gray-300
      {{- end }} {{ if $day.TimeRelation.IsToday -}}
        ring ring-gray-950
      {{- end }} place-center grid size-6 rounded"
    >
      {{ if $day.Emoji }}
        {{ $day.Emoji }}
      {{ else }}
        {{ $day.Date.Day }}
      {{ end }}
    </button>
    <div
      id="day-tooltip-{{ $tracker.TrackerId }}-{{ $day }}"
      class="tooltip flex max-w-64 min-w-48 flex-col gap-2 rounded-lg border border-gray-500 bg-gray-50 p-4 text-sm shadow"
    >
      <time
        datetime="{{ $day.String }}"
        class="flex min-w-max gap-2 font-semibold text-gray-500"
        >{{ $day.String }}
        {{ $day.WeekdayString }}
      </time>
      {{ if ne $day.Content "" }}
        <div class="text-gray-950">
          {{ $day.Content }}
        </div>
      {{ else }}
        <div class="text-gray-400">This day hasn't been logged yet.</div>
      {{ end }}
    </div>
  <script type="module">
    import {
      computePosition,
      flip,
      shift,
      offset,
    } from 'https://cdn.jsdelivr.net/npm/@floating-ui/dom@1.6.12/+esm';
    const button = document.getElementById('day-button-{{ $tracker.TrackerId }}-{{ $day }}')
    const tooltip = document.getElementById('day-tooltip-{{ $tracker.TrackerId }}-{{ $day }}');
    computePosition(button, tooltip, {
      placement: 'bottom',
      middleware: [offset(8), flip(), shift({padding: 5})],
    }).then(({x, y}) => {
      Object.assign(tooltip.style, {
        left: `${x}px`,
        top: `${y}px`,
      });
    });
  </script>
  </div>
{{ end }}
