{{ define "header" }}
  <header id="header">
    <a href="/">
      {{ template "logo-and-text" }}
    </a>
    <div class="flex-h">
      <a href="/examples/" class="button button-soft button-sm">Examples</a>
      <a href="/settings/" class="button-icon">
        {{ template "icon-user" dict "class" "icon" }}
      </a>
    </div>
  </header>
  <script>
    const header = document.getElementById("header");
    const shadow = "shadow-md";
    window.addEventListener("scroll", (event) => {
      if (window.scrollY > 0 && !header.classList.contains(shadow)) {
        header.classList.add(shadow);
        return;
      }

      if (window.scrollY === 0 && header.classList.contains(shadow)) {
        header.classList.remove(shadow);
        return;
      }
    });
  </script>
{{ end }}
