{{ define "header" }}
  <header class="sticky top-0 z-30 flex items-center bg-white p-4">
    <a href="/">
      {{ template "logo" dict "class" "size-7 text-eigengrau-900" }}
    </a>
    <a href="/examples/" class="ml-4 hover:underline">Examples</a>
    <a
      href="/settings/"
      class="ml-auto flex items-center justify-center rounded-xl p-2 text-eigengrau-500 hover:bg-eigengrau-50"
    >
      {{ template "icon-user" dict "class" "size-5 text-eigengrau-500" }}
    </a>
  </header>
{{ end }}
