{{ define "months" }}
  {{ $tracker := get . "tracker" }}
  {{ $entries := get . "entries" }}
  {{ range $entries.Months }}
    <section class="month">
      <time class="month-time">
        {{ .FormatYYYYMM }}
      </time>
      <div class="month-days" style="color:LightCoral">Su</div>
      <div class="month-days">Mo</div>
      <div class="month-days">Tu</div>
      <div class="month-days">We</div>
      <div class="month-days">Th</div>
      <div class="month-days">Fr</div>
      <div class="month-days" style="color:LightCoral">Sa</div>
      {{ range $i, $e :=  .Days }}
        <time
          style="grid-column-start: {{ .Weekday }};grid-row-start: {{ add .Week 2 }};"
        >
          {{ template "day" dict "tracker" $tracker "day" $e }}
        </time>
      {{ end }}
    </section>
  {{ end }}
{{ end }}
