@import "tailwindcss";

@plugin '@tailwindcss/forms';

@theme {
  --color-eigengrau-50: #f6f6f9;
  --color-eigengrau-100: #ececf2;
  --color-eigengrau-200: #d6d6e1;
  --color-eigengrau-300: #b2b3c7;
  --color-eigengrau-400: #888ba8;
  --color-eigengrau-500: #696d8e;
  --color-eigengrau-600: #545675;
  --color-eigengrau-700: #444560;
  --color-eigengrau-800: #3b3c51;
  --color-eigengrau-900: #353545;
  --color-eigengrau-950: #16161d;
}

emoji-picker {
  --num-columns: 10;
  --border-color: var(--color-slate-300);
  --border-radius: --spacing(1);
  --emoji-padding: --spacing(2);
  --button-active-background: var(--color-slate-300);
  --button-hover-background: var(--color-slate-200);
  --category-emoji-padding: --spacing(2);
  --indicator-color: var(--color-indigo-600);

  --input-border-color: var(--color-slate-300);
  --input-border-radius: --spacing(1);
  --input-border-size: 1px;
  --input-font-color: var(--color-slate-800);
  --input-padding: --spacing(2);

  --outline-color: var(--color-indigo-600);
}

.button-primary {
  @apply cursor-pointer bg-eigengrau-950 hover:bg-eigengrau-800 active:bg-eigengrau-700 flex gap-1 rounded-lg px-6 py-2 font-semibold text-white items-center;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-20;
}

.sortable-ghost {
  @apply invisible;
}
