{{ define "body" }}
  {{ template "header" }}
  <main>
    <h1>Create A New Tracker</h1>
    <form class="flex-v gap-1" hx-target="#error" hx-post="/create-tracker/">
      <div class="input-group">
        <label for="display_name" class="text-sm">Tracker Name</label>
        <input
          id="display_name"
          class="rounded-sm border-1 border-slate-300 py-2"
          name="display_name"
          type="text"
          required
          pattern=".*\S.*"
          title="Please enter at least one non-space character."
        />
      </div>
      <input class="button-primary" value="Create" type="submit" />
    </form>
  </main>
{{ end }}
