{{ define "body" }}
  <main class="mt-12 flex w-full flex-col items-center gap-4 text-center">
    <h1 class="text-xl font-bold">{{ . }}</h1>
    <p>
      We’ve sent a login link to your email. <br />Please check your inbox and
      click on it to access Gritrack.
    </p>
  </main>
{{ end }}
