{{ define "header" }}
{{ end }}
{{ define "main" }}
  <div class="flex flex-col items-center gap-2">
    <h1 class="text-2xl font-bold">Track Your Projects, Goals, and Memories</h1>
    <div class="flex gap-8">
      <a href="/log-in/" class="rounded bg-indigo-300 px-6 py-2 font-bold"
        >Log In</a
      >
      <a href="/sign-up/" class="rounded bg-indigo-300 px-6 py-2 font-bold"
        >Sign Up</a
      >
    </div>
  </div>
{{ end }}
