{{ define "body" }}
  <header>
    {{ template "logo-and-text" }}
  </header>
  <main>
    <div style="display:flex;align-items:center;gap:1rem">
      {{ template "logo" dict "class" "logo-large" }}
    </div>
    <h1>
      Track your <mark>habits</mark>, <mark>goals</mark>, and
      <mark>time</mark> effortlessly.
    </h1>
    <div style="display:flex;gap:2rem">
      <a href="/log-in/" class="button button-primary">Log In</a>
      <a href="/sign-up/" class="button button-secondary">Sign Up</a>
    </div>
  </main>
{{ end }}
