{{ define "body" }}
  <main>
    {{ template "logo" dict "class" "logo logo-large" }}
    <h1 style="text-align:center">
      Welcome to
      <span class="font-extrabold">Gritrack</span>!
      <br />
      Track your <mark>habits</mark>, <mark>goals</mark>, and
      <mark>time</mark> effortlessly.
    </h1>
    <div style="display:flex;gap:2rem">
      <a href="/log-in/" class="button button-primary">Log In</a>
      <a href="/sign-up/" class="button button-secondary">Sign Up</a>
    </div>
  </main>
{{ end }}
