{{ define "body" }}
  <header>
    {{ template "logo-and-text" }}
  </header>
  <main>
    {{ template "logo" dict "class" "logo-large" }}
    <h1 class="text-center">
      Track your <mark>habits</mark>, <mark>goals</mark>, and
      <mark>time</mark> effortlessly.
    </h1>
    <div class="flex-h gap-2">
      <a href="/log-in/" class="button button-primary">Log In</a>
      <a href="/sign-up/" class="button button-secondary">Sign Up</a>
    </div>
  </main>
{{ end }}
