{{ define "body" }}
  <header>
    <a href="/">
      {{ template "logo-and-text" }}
    </a>
  </header>
  <main>
    <h1 class="text-title">Log In</h1>

    <div class="container">
      <form class="container" hx-target="#error" hx-post="/send-log-in-email/">
        <p id="error">{{ . }}</p>
        <div class="input-group">
          <label for="email">Email address</label>
          <input
            id="email"
            autocomplete="email"
            class="rounded-sm border-1 border-slate-300 py-2"
            name="email"
            type="email"
            required
            placeholder="you@example.com"
          />
        </div>
        <input class="button-primary" value="Send Log In Email" type="submit" />
      </form>
      <p class="text-secondary text-center">
        Don't have an account yet?
        <a href="/sign-up/" class="text-link">Sign Up</a>
      </p>
    </div>
  </main>
{{ end }}
