{{ define "body" }}
  {{ template "header" }}
  <main class="mx-auto flex w-full max-w-md flex-col gap-8">
    <h1 class="text-center font-semibold text-eigengrau-700">
      {{ .tracker }}
    </h1>
    <div
      class="grid grid-cols-[auto_auto_auto_auto_auto_auto_auto] place-content-center gap-y-12"
    >
      {{ template "months" dict "tracker" .tracker "entries" .entries }}
    </div>
  </main>
{{ end }}
