{{ define "body" }}
  {{ template "header" }}
  <main>
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Trackers</th>
          <th>Past 7 days</th>
          <th>Today</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody id="trackers">
        {{ range $ti, $t := .sessionUser.Trackers }}
          <tr>
            <td>
              {{ template "icon-bars-3" dict "class" "cursor-grab button-icon" }}
            </td>
            <td>
              {{ if .Link }}
                <a href="{{ .Link }}" class="text-link" target="_blank">
                  {{ .DisplayName }}
                </a>
              {{ else }}
                {{ .DisplayName }}
              {{ end }}
            </td>
            <td>
              <div class="flex-h">
                {{ range $i, $d := slice (index $.daysArr $t.TrackerId ) 0 7 }}
                  {{ template "day" dict "tracker" $t "day" $d }}
                {{ end }}
              </div>
            </td>
            <td>
              <div class="flex-h">
                {{ $today := index (index $.daysArr $t.TrackerId ) 7 }}
                {{ template "day" dict "tracker" $t "day" $today }}
                {{ template "today-preview" dict "tracker" $t "day" $today }}
              </div>
            </td>
            <td>
              <div class="flex-h">
                <a class="" href="/settings/{{ .TrackerId }}/">
                  {{ template "icon-cog-6-tooth" dict "class" "button-icon" }}
                </a>
                <a href="/{{ $.sessionUser.Username }}/{{ $t.TrackerId }}/">
                  {{ template "icon-arrows-pointing-out" dict "class" "button-icon" }}
                </a>
              </div>
            </td>
          </tr>
        {{ end }}
      </tbody>
    </table>
  </main>
  {{ template "day-detail-dialog" }}
  <script>
    const trackers = document.getElementById("trackers");
    const sortable = new Sortable(trackers, {
      handle: ".cursor-grab",
      onUpdate: function (event) {
        const body = new FormData();
        body.append("old_position", event.oldIndex);
        body.append("new_position", event.newIndex);
        fetch("/move-tracker/", {
          method: "PATCH",
          body: body,
        });
      },
    });
  </script>
{{ end }}
