{{ define "body" }}
  {{ template "header" }}
  <main class="flex justify-center py-4">
    <nav class="flex w-full max-w-screen-md flex-col gap-2">
      <h1
        class="ml-11 mr-7 flex items-baseline gap-2 text-sm text-eigengrau-700"
      >
        Your Trackers
        <a
          href="/create-tracker/"
          class="ml-auto flex items-center rounded-xl bg-eigengrau-700 px-3 py-1 text-sm text-white hover:bg-eigengrau-900"
        >
          {{ template "icon-plus" dict "class" "size-4" }}
          New
        </a>
      </h1>
      <ul
        id="trackers"
        class="grid grid-cols-[auto_auto_auto_auto_auto_auto] place-content-center gap-4"
      >
        {{ range $ti, $t := .sessionUser.Trackers }}
          <li class="group col-span-6 flex grid grid-cols-subgrid gap-2 p-4">
            <div
              class="handle invisible flex h-full w-5 items-center text-eigengrau-700 group-hover:visible"
            >
              {{ template "icon-bars-3" dict "class" "size-5 text-eigengrau-500" }}
            </div>
            <h2 class="font-semibold">
              {{ .DisplayName }}
            </h2>
            <div class="flex gap-1">
              {{ range $i, $d := slice (index $.daysArr $t.TrackerId ) 0 7 }}
                {{ template "day" dict "tracker" $t "day" $d }}
              {{ end }}
            </div>
            <div class="flex items-center justify-center gap-2">
              {{ $today := index (index $.daysArr $t.TrackerId ) 7 }}
              {{ template "day" dict "tracker" $t "day" $today }}
              {{ template "today-preview" dict "tracker" $t "day" $today }}
            </div>
            <div class="invisible flex items-center group-hover:visible">
              <a href="/settings/{{ .TrackerId }}/">
                {{ template "icon-cog-6-tooth" dict "class" "size-5 text-eigengrau-500" }}
              </a>
            </div>
            <div class="invisible flex items-center group-hover:visible">
              <a href="/{{ $.sessionUser.Username }}/{{ $t.TrackerId }}/">
                {{ template "icon-arrows-pointing-out" dict "class" "size-5 text-eigengrau-300" }}
              </a>
            </div>
          </li>
        {{ end }}
      </ul>
    </nav>
  </main>
  {{ template "day-detail-dialog" }}
  <script>
    const trackers = document.getElementById("trackers");
    const sortable = new Sortable(trackers, {
      handle: ".handle",
      onUpdate: function (event) {
        const body = new FormData();
        body.append("old_position", event.oldIndex + 1);
        body.append("new_position", event.newIndex + 1);
        fetch("/move-tracker/", {
          method: "PATCH",
          body: body,
        });
      },
    });
  </script>
{{ end }}
