{{ define "body" }}
  {{ template "header" }}
  <main>
    <h1>
      {{ .tracker }}
    </h1>
    <div
      id="months"
      class="grid grid-cols-[auto_auto_auto_auto_auto_auto_auto] place-content-center gap-y-12"
    >
      {{ template "months" dict "tracker" .tracker "entries" .entries }}
    </div>
    <button
      hx-target="#months"
      hx-swap="beforeend"
      hx-get="/{{ .sessionUser.Username }}/{{ .tracker.TrackerId }}/months/"
      hx-vals="js:{...getNextFromTo()}"
      hx-on::after-request="updateFromTo(getNextFromTo().from, to.dataset.to)"
      class="rounded-full border border-slate-200 bg-white px-6 py-1 text-slate-400 hover:bg-slate-100 hover:text-slate-600"
    >
      Load More
    </button>
  </main>
  <div
    class="hidden"
    id="to"
    data-to="{{ (mustFirst .entries.Months).FormatYYYYMM }}"
  ></div>
  <div
    class="hidden"
    id="from"
    data-from="{{ (mustLast .entries.Months).FormatYYYYMM }}"
  ></div>
  <div
    class="hidden"
    id="tracker-id"
    data-tracker-id="{{ .tracker.TrackerId }}"
  ></div>
  <div
    class="hidden"
    id="username"
    data-username="{{ .sessionUser.Username }}"
  ></div>
  {{ template "day-detail-dialog" }}
  <script>
    const months = 3;
    const from = document.getElementById("from");
    const to = document.getElementById("to");
    const trackerId = document.getElementById("tracker-id").dataset.trackerId;
    const username = document.getElementById("username").dataset.username;

    function getNextFromTo() {
      const [toYStr, toMStr] = from.dataset.from.split("-");
      const toY = parseInt(toYStr, 10);
      const toM = parseInt(toMStr, 10) - 1;
      let toDate = new Date(toY, toM, 1);
      toDate.setMonth(toDate.getMonth() - 1);

      let fromDate = new Date(toY, toM, 1);
      fromDate.setMonth(fromDate.getMonth() - months);

      return {
        to: `${toDate.getFullYear()}-${(toDate.getMonth() + 1).toString().padStart(2, "0")}`,
        from: `${fromDate.getFullYear()}-${(fromDate.getMonth() + 1).toString().padStart(2, "0")}`,
      };
    }

    function updateFromTo(fromStr, toStr) {
      from.dataset.from = fromStr;
      to.dataset.to = toStr;
    }
  </script>
{{ end }}
