{{ define "body" }}
  {{ template "header" }}
  <main>
    <h1>Settings</h1>
    <section>
      <h2>👤 {{ .Username }} / {{ .Email }}</h2>
    </section>
    <button class="button button-danger" hx-delete="/log-out/">Log Out</button>
  </main>
{{ end }}
