{{ define "body" }}
  {{ $sessionUser := .sessionUser }}
  {{ $tracker := .tracker }}
  {{ template "header" }}
  <main>
    <section class="flex flex-col gap-2">
      <h2 class="text-lg font-semibold">Tracker Info</h2>
      <form
        hx-patch="/settings/{{ $tracker.TrackerId }}/"
        class="flex flex-col gap-4 rounded-xl"
      >
        <div class="flex flex-col gap-1">
          <label for="display_name" class="text-sm">Display Name</label>
          <input
            id="display_name"
            class="rounded-xl border-1 border-slate-300 py-2"
            name="display_name"
            type="text"
            required
            pattern=".*\S.*"
            title="Please enter at least one non-space character."
            value="{{ $tracker }}"
          />
        </div>
        <!--
        <div class="flex flex-col gap-1">
          <label for="description" class="text-sm">Description</label>
          <input
            id="description"
            class="border-1 rounded-xl border-slate-300 py-2"
            name="description"
            type="text"
            value="{{ $tracker.Description }}"
            pattern=".*\S.*"
            title="Please enter at least one non-space character."
          />
        </div>
	-->
        <div class="flex flex-col gap-1">
          <label for="link" class="text-sm">Link</label>
          <input
            id="link"
            class="rounded-xl border-1 border-slate-300 py-2"
            name="link"
            type="url"
            value="{{ $tracker.Link }}"
            pattern=".*\S.*"
            title="Please enter at least one non-space character."
          />
        </div>
        <input class="button-primary" value="Save" type="submit" />
      </form>
    </section>
    <hr />
    <section>
      <h2 class="text-lg font-semibold">Change Tracker ID (Slug)</h2>
      <form
        hx-patch="/settings/{{ $tracker.TrackerId }}/tracker_id/"
        hx-confirm="Are you sure you want update '{{ $tracker.TrackerId }}'?"
        class="flex flex-col gap-4 rounded-xl"
      >
        <div class="flex flex-col gap-1">
          <label for="tracker_id" class="text-sm">Tracker ID (Slug)</label>
          <input
            id="tracker_id"
            class="rounded-xl border-1 border-slate-300 py-2"
            name="tracker_id"
            type="text"
            required
            value="{{ $tracker.TrackerId }}"
            title="Please enter at least one non-space character."
          />
        </div>
        <input class="button-primary" value="Save" type="submit" />
      </form>
    </section>
    <hr />
    <section class="flex flex-col gap-2">
      <h2 class="text-lg font-semibold text-red-500">Delete Tracker</h2>
      <form
        hx-delete="/settings/{{ $tracker.TrackerId }}/"
        hx-confirm="Are you sure you want to delete '{{ $tracker }}'?"
      >
        <input
          class="cursor-pointer rounded-xl bg-red-600 px-6 py-2 text-white hover:bg-red-700"
          value="Delete"
          type="submit"
        />
      </form>
    </section>
  </main>
{{ end }}
