{{ define "body" }}
  {{ $sessionUser := .sessionUser }}
  {{ $tracker := .tracker }}
  {{ template "header" }}
  <main>
    <section class="flex-v gap-1">
      <h2>Tracker Info</h2>
      <form hx-patch="/settings/{{ $tracker.TrackerId }}/" class="flex-v gap-1">
        <div class="input-group">
          <label for="display_name">Display Name</label>
          <input
            id="display_name"
            name="display_name"
            type="text"
            required
            pattern=".*\S.*"
            title="Please enter at least one non-space character."
            value="{{ $tracker }}"
          />
        </div>
        <div class="input-group">
          <label for="link">Link</label>
          <input
            id="link"
            name="link"
            type="url"
            value="{{ $tracker.Link }}"
            pattern=".*\S.*"
            title="Please enter at least one non-space character."
          />
        </div>
        <input class="button-primary" value="Save" type="submit" />
      </form>
    </section>
    <section class="flex-v gap-1">
      <h2>Change Tracker ID (Slug)</h2>
      <form
        hx-patch="/settings/{{ $tracker.TrackerId }}/tracker_id/"
        hx-confirm="Are you sure you want update '{{ $tracker.TrackerId }}'?"
        class="flex-v gap-1"
      >
        <div class="input-group">
          <label for="tracker_id">Tracker ID (Slug)</label>
          <input
            id="tracker_id"
            name="tracker_id"
            type="text"
            required
            value="{{ $tracker.TrackerId }}"
            title="Please enter at least one non-space character."
          />
        </div>
        <input class="button-primary" value="Save" type="submit" />
      </form>
    </section>
    <section class="flex-v gap-1">
      <h2>Delete Tracker</h2>
      <form
        hx-delete="/settings/{{ $tracker.TrackerId }}/"
        hx-confirm="Are you sure you want to delete '{{ $tracker }}'?"
      >
        <input class="button-danger" value="Delete" type="submit" />
      </form>
    </section>
  </main>
{{ end }}
