{{ define "main" }}
  <div class="flex flex-col items-center gap-4">
    <h2 class="text-2xl font-bold">Create An Account to Join Gritrack!</h2>
    <div id="sign-up-form">
      {{ template "sign-up-form" }}
    </div>
  </div>
{{ end }}
